 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5c6e4;
  font-family: serif;
  line-height: 1.6;
}

:root {
  --primary: #702b00;
}


h1 {
  font-size: 65px;
  text-align: center;
  color: rgb(200, 72, 149);
  text-shadow: 0 3px 7px rgba(51, 44, 44, 0.119);
  margin: 50px;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

/* ==== Nav===== */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

nav a {
  padding: 22px 34px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
  background-color: #7c3102;
  color: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

nav a:hover {
  background-color: #8c3a0a;
  transform: translateY(-3px);
}

/* === Sec 1 === */
.section1 {
  background: white;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  color: #343232;
  font-size: 15px;
}

.profile-img {
  width: 220px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #000000;
  flex-shrink: 0;
  box-shadow: 0 20px 100px rgba(0,0,0,0.15);
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 h2 {
  margin: 0 0 10px;
  font-size: 50px;
  color: var(--primary);
}

.section1 h3 {
  font-size: 20px;
}

/* ==Sec2 == */
.section2 {
  background: white;
  padding: 100px;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  gap: 300px;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  color: #343232;
  font-size: 15px;
}

.section2 h2,
.content2-2 h2 {
  margin-bottom: 30px;
  margin-left: -30px;
  color: var(--primary);
}

.section2 h2 {
  margin-top: -60px;
  font-size: 50px;
}

.content2-2 h2 {
  margin-top: 80px;
  font-size: 40px;
}

.contentp2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.skill-pill {
  color: #000000;
  padding: 15px 24px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
  background-color: #ffffff;
  border: 1px solid var(--primary);
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.skill-pill:hover {
  transform: scale(1.05);
}

/* ===== Sec3 ===== */
.section3 {
  background: white;
  padding: 100px;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: #343232;
  font-size: 15px;
}

.section3 h2 {
  margin: -60px 0 30px -30px;
  font-size: 50px;
  color: var(--primary);
}

/* ===== Tb ===== */
.fav-card {
  max-width: 792px;
}

.fav-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.fav-table th {
  font-size: 14px;
  color: #6f6b90;
  padding: 16px;
  background-color: #f7f9fc;
}

.fav-table td {
  padding: 20px 16px;
  border-top: 1px solid #eef1f7;
  font-size: 16px;
}

.fav-table td:first-child {
  width: 180px;
  font-weight: 600;
  color: #371f2e;
}

.fav-table tr:hover {
  background-color: #fff5fc;
}

/* ===== Contact ===== */
.contact-section {
  background: white;
  padding: 100px;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: #343232;
  font-size: 15px;
}

.contact-section h2 {
  margin: -60px 0 30px -30px;
  font-size: 36px;
  color: var(--primary);
}

.contact-section input,
.contact-section select,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-section input[type="submit"] {
  margin-top: 20px;
  background: #7c3102;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-section input[type="submit"]:hover {
  background: #8c3a0a;
  transform: translateY(-2px);
}


.footer {
  background: #fdddf1;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px 20px;
  margin-top: 50px;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}


.contact-icon,
.phone-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  
}

.contact-icon img,
.contact-icon-img {
  width: 60px;
  padding: 6px;
  background: white;
  border-radius: 12px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.contact-icon img:hover,
.contact-icon-img:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}


.phone-box {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  border-radius: 10px;
  padding: 8px 5px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  min-width: 180px; 
}

.phone-wrapper:hover .phone-box {
  opacity: 1;
  visibility: visible;
}

.phone-number {
  
  letter-spacing: 1px;
  user-select: text;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;   
  
}

.hint {
  font-size: 12px;
  color: gray;
}

.footer-copy {
  font-size: 13px;
  color: #aaa;
}


@media (max-width: 768px) {

  h1 { font-size: 32px; }
  h2 { font-size: 26px; }

  nav a {
    padding: 10px 16px;
    font-size: 14px;
  }

  .section1 {
    flex-direction: column;
    gap: 20px;
    padding: 25px;
  }
}
